<div class="col-sm-12">
    <h1>Word Learning Game <small>Room #{{roomCtrl.room.id}}</small></h1>
</div>
<div class="col-sm-3">
    <h2>Players</h2>
    <div class="player player-self">
        <table class="table table-borderless">
            <tr ng-repeat="player in roomCtrl.players" ng-class="player.self ? 'active' : ''">
                <td ng-if="!player.placeholder">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </td>
                <td ng-if="player.placeholder">
                    <span class="glyphicon glyphicon-hourglass" aria-hidden="true" style="color:orange"></span>
                </td>
                <td ng-if="!player.placeholder" width="100%">
                    <strong>{{player.name}}</strong>
                </td>
                <td ng-if="player.placeholder" colspan="2">
                    <em>Waiting for player...</em>
                </td>
                <td ng-if="!player.placeholder">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green" ng-if="player.ready"></span>
                    <span class="glyphicon glyphicon-time" aria-hidden="true" style="color:orange" ng-if="!player.ready"></span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-sm-9">
    <h2 ng-if="roomCtrl.room.state != 'ENDED'">Game</h2>
    <div class="alert alert-info" role="alert" ng-if="roomCtrl.room.state != 'ENDED' && roomCtrl.player.ready">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{100 * roomCtrl.readyPlayersCount / roomCtrl.room.maxPlayers}}" aria-valuemin="0" aria-valuemax="100" style="width: {{100 * roomCtrl.readyPlayersCount / roomCtrl.room.maxPlayers}}%;">
                {{roomCtrl.readyPlayersCount}} / {{roomCtrl.room.maxPlayers}}
            </div>
        </div>
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
        <span>Waiting for {{roomCtrl.room.maxPlayers - roomCtrl.readyPlayersCount}} more player(s) to</span>
        <span ng-if="roomCtrl.room.state == 'WAITING_FOR_PLAYERS'">join the room</span>
        <span ng-if="roomCtrl.room.state == 'WAITING_FOR_WORDS'">upload their words</span>
        <span ng-if="roomCtrl.room.state == 'IN_PROGRESS'">upload their solutions</span>
        <span>.</span>
    </div>
    <div ng-if="!roomCtrl.player.ready && roomCtrl.room.state == 'WAITING_FOR_WORDS'">
        <h3>Upload words</h3>
        <table class="table table-striped table-borderless">
            <thead>
                <tr>
                    <th>{{roomCtrl.room.languageFrom.name | ucfirst}} word</th>
                    <th>{{roomCtrl.room.languageTo.name | ucfirst}} meaning</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in range(1, 10)">
                    <td width="50%"><input type="text" class="form-control"  style="width: 100%" ng-model="roomCtrl.wordsToUpload[i]" required/></td>
                    <td width="50%"><input type="text" class="form-control"  style="width: 100%" ng-model="roomCtrl.translationsToUpload[i]" required/></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success form-control" ng-click="roomCtrl.uploadWords()">Upload words</button>
    </div>
    <div ng-if="!roomCtrl.player.ready && roomCtrl.room.state == 'IN_PROGRESS'">
        <h3>Upload solutions</h3>
        <table class="table table-striped table-borderless">
            <thead>
            <tr>
                <th>{{roomCtrl.room.languageFrom.name | ucfirst}} word</th>
                <th>{{roomCtrl.room.languageTo.name | ucfirst}} meaning</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="word in roomCtrl.words">
                <td width="50%">{{word.word}}</td>
                <td width="50%"><input type="text" class="form-control" style="width: 100%" ng-model="roomCtrl.solutionsToUpload[word.id]" required/></td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-success form-control" ng-click="roomCtrl.uploadSolutions()">Upload solutions</button>
    </div>
    <h2 ng-if="roomCtrl.room.state == 'ENDED'">Results</h2>
    <div ng-if="roomCtrl.room.state == 'ENDED' && !roomCtrl.room.timedOut">
        <p class="lead" ng-if="roomCtrl.player.winner">
            Congratulations <strong>{{roomCtrl.player.name}}</strong>, you won!
        </p>
        <p class="lead" ng-if="!roomCtrl.player.winner && roomCtrl.room.winners.length == 1">
            The winner is <strong>{{roomCtrl.room.winners[0]}}</strong>!
        </p>
        <p class="lead" ng-if="!roomCtrl.player.winner && roomCtrl.room.winners.length != 1">
            The winners are <strong>{{roomCtrl.room.winners.join(', ')}}</strong>!
        </p>
        <p ng-if="roomCtrl.evaluation.done && roomCtrl.evaluation.numIncorrect == 0">
            You managed to correctly translate all of the words! Keep it up!
        </p>
        <p ng-if="roomCtrl.evaluation.done && roomCtrl.evaluation.numIncorrect > 0">
            You managed to correctly translate {{roomCtrl.evaluation.numCorrect}} out of {{roomCtrl.evaluation.numSolutions}} words. Here are the ones you got wrong:
        </p>
        <table class="table table-striped table-borderless" ng-if="roomCtrl.evaluation.done && roomCtrl.evaluation.numIncorrect > 0">
            <thead>
                <tr>
                    <th width="25%">Word</th>
                    <th width="25%">Your input</th>
                    <th width="50%">Translation(s)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mistake in roomCtrl.evaluation.mistakes">
                    <td>{{mistake.word}}</td>
                    <td><em>{{mistake.input}}</em></td>
                    <td>{{mistake.expected}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-warning" role="alert" ng-if="roomCtrl.room.timedOut">
        The game has timed out because one or more players didn't complete the task in time.
    </div>
</div>
